<div class="w-[80vw] h-auto bg-neutral-600 rounded-lg flex flex-col justify-center items-center mt-20 mx-[10%] p-4">
    <div class="w-full flex flex-row flex-nowrap justify-between mt-4">
        <div class="w-full max-w-full" cdkDropListGroup>
            <div class="w-full max-w-full flex flex-wrap justify-center" cdkDropList [cdkDropListData]="squares"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let square of squares" cdkDrag class="w-[50px] h-[50px] rounded-lg {{square}} m-1">
                </div>
            </div>

            <div class="w-full flex flex-row flex-nowrap justify-between mt-4">
                <div class="w-[65px] h-auto min-h-[65px] border-2 border-dashed rounded-lg border-blue-400 flex flex-col justify-center items-center"
                    cdkDropList [cdkDropListData]="blueZone" (cdkDropListDropped)="drop($event, 'bg-blue-400')">
                    <div *ngFor="let square of blueZone" class="w-[50px] h-[50px] rounded-lg {{square}} m-1">
                    </div>
                </div>

                <div class="w-[65px] h-auto min-h-[65px] border-2 border-dashed rounded-lg border-white flex flex-col justify-center items-center"
                    cdkDropList [cdkDropListData]="whiteZone" (cdkDropListDropped)="drop($event, 'bg-white')"
                    style="border-color: white;">
                    <div *ngFor="let square of whiteZone" class="w-[50px] h-[50px] rounded-lg {{square}} m-1">
                    </div>
                </div>

                <div class="w-[65px] h-auto min-h-[65px] border-2 border-dashed rounded-lg border-red-400 flex flex-col justify-center items-center"
                    cdkDropList [cdkDropListData]="redZone" (cdkDropListDropped)="drop($event, 'bg-red-400')"
                    style="border-color: red;">
                    <div *ngFor="let square of redZone" class="w-[50px] h-[50px] rounded-lg {{square}} m-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-update *ngIf="isWin" [numTask]="numTask"></app-update>
</div>