<div class="h-[100vh]">
    <app-menu></app-menu>

    <app-progress></app-progress>

    <div class="h-auto w-[100vw] flex justify-center items-center mt-20">
        <div class="w-[80%] h-auto bg-[url('/among-us.jpg')] bg-cover bg-top rounded-xl border border-neutra-400 p-4">
            <div class="flex flex-row justify-between">
                <h1 class="text-center text-xl font-bold" [class]="{
                    'text-blue-400': !user.getRole() && isShowing,
                    'text-red-400': user.getRole() && isShowing,
                    'text-neutral-400': !isShowing,
                }">
                    {{ user.getName() }}
                </h1>
                <button (click)="onShow()">
                    <i *ngIf="isShowing" class="fa-solid fa-eye fa-xl" style="color: #B3C4FF;"></i>
                    <i *ngIf="!isShowing" class="fa-solid fa-eye-slash fa-xl" style="color: #B3C4FF;"></i>
                </button>
            </div>
            <app-crewmate *ngIf="isShowing && !user.getRole()" [user]="user"></app-crewmate>
            <app-impostor *ngIf="isShowing && user.getRole()" [user]="user"></app-impostor>
        </div>
    </div>
</div>