<div class="w-[80vw] h-auto bg-neutral-600 rounded-lg flex flex-row justify-center items-center mt-20 mx-[10%] p-4">
    <form class="w-full flex flex-col justify-center items-center">
        <input ngModel [(ngModel)]="usersName" type="text" name="usersName"
            class="bg-gray-100 border border-gray-500 text-sm rounded-lg w-full p-2.5 mb-4"
            placeholder="Joueur1:Joueur2..." required />
        <button (click)="onSubmit()" type="submit"
            class="text-white bg-gray-500 hover:bg-gray-800 rounded-lg text-sm w-full py-2.5 text-center">JOUER</button>
    </form>
</div>