<app-menu></app-menu>

<nav class="h-auto w-[100%] flex flex-wrap items-center justify-center mt-4 p-4">
    <h1 class="text-white text-xl">
        Tâche n°{{ numTask }} : {{ tasksName[numTask-1] }}
    </h1>
</nav>

<div [ngSwitch]="numTask">
    <app-task-1 *ngSwitchCase="1" [numTask]="numTask"></app-task-1>
    <app-task-2 *ngSwitchCase="2" [numTask]="numTask"></app-task-2>
    <app-task-3 *ngSwitchCase="3" [numTask]="numTask"></app-task-3>
    <app-task-4 *ngSwitchCase="4" [numTask]="numTask"></app-task-4>
    <app-task-5 *ngSwitchCase="5" [numTask]="numTask"></app-task-5>
    <app-task-6 *ngSwitchCase="6" [numTask]="numTask"></app-task-6>
    <app-task-7 *ngSwitchCase="7" [numTask]="numTask"></app-task-7>
    <app-task-8 *ngSwitchCase="8" [numTask]="numTask"></app-task-8>
    <app-task-9 *ngSwitchCase="9" [numTask]="numTask"></app-task-9>
    <app-task-10 *ngSwitchCase="10" [numTask]="numTask"></app-task-10>
    <app-task-11 *ngSwitchCase="11" [numTask]="numTask"></app-task-11>
    <app-task-12 *ngSwitchCase="12" [numTask]="numTask"></app-task-12>
    <app-task-13 *ngSwitchCase="13" [numTask]="numTask"></app-task-13>
    <app-task-14 *ngSwitchCase="14" [numTask]="numTask"></app-task-14>
    <app-task-15 *ngSwitchCase="15" [numTask]="numTask"></app-task-15>
</div>