<div class="w-[80vw] h-auto bg-neutral-600 rounded-lg flex flex-col justify-center items-center mt-20 mx-[10%] p-4">
    <h1 class="bg-sky-600 rounded-xl text-white px-2">{{ codeToFind }}</h1>
    <img src="/safe-box.png" class="max-w-[40%] mt-4">
    <form *ngIf="!isWin" class="flex flex-row flex-nowrap justify-center items-center mt-4">
        <input ngModel [(ngModel)]="code" type="number" name="code" class="bg-gray-100 text-sm rounded-lg w-1/2 p-2.5"
            required />
        <button (click)="onOpen()" type="submit"
            class="text-white bg-green-500 rounded-lg text-sm w-1/5 py-2.5 text-center">
            <i class="fa-solid fa-key"></i>
        </button>
    </form>
    <app-update *ngIf="isWin" [numTask]="numTask"></app-update>
</div>